.img {
  max-width: 800px;
}

.home {
  min-width: 320px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.home h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-shadow: 0.2rem 0rem 0 #ff5900;
  font-weight: 900;

}

.home button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background: none;
  border: none;
}
.home button > h2 {
  letter-spacing: 0.3rem;
  font-weight: 900;
  font-size: 2.5rem;
  color: white;
  text-shadow: 0.15rem 0 0 black;
}

.home button > h2:hover {
  text-decoration: underline;
  text-decoration-color: #ff5900;
}

.home button > h2:hover::before {
  content: "⇥";
  color: white;
  font-size: 2rem;
  font-weight: 900;
}
